[submodule "colcon_ws/src/px4_msgs"]
	path = colcon_ws/src/px4_msgs
	url = git@github.com:dev10110/px4_msgs.git
[submodule "colcon_ws/src/ros2-vicon-bridge"]
	path = colcon_ws/src/ros2-vicon-bridge
	url = git@github.com:dasc-lab/ros2-vicon-bridge.git
[submodule "colcon_ws/src/vicon_px4_bridge"]
	path = colcon_ws/src/vicon_px4_bridge
	url = git@github.com:dasc-lab/vicon_px4_bridge.git
[submodule "colcon_ws/src/ros2-ping"]
	path = colcon_ws/src/ros2-ping
	url = git@github.com:dasc-lab/ros2-ping.git
[submodule "colcon_ws/src/dasc_ros"]
	path = colcon_ws/src/dasc_ros
	url = git@github.com:dasc-lab/dasc_ros.git
